@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


* {
  box-sizing: border-box; 
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#grad1{
    /* min-height: 300vh; */
    background: linear-gradient(to bottom left, #80FFDB, #5390D9 );
}

 /* width */
::-webkit-scrollbar { 
   width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
   background: rgba(76, 0, 255, 0.884); 
   border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #7100b3; 
}


.nb
{
    background-color: aqua;
}

.searchh:hover {
    color: black;

}

#Login:hover{
    background-color: gray;
    color: black;
}

#menuheadcontent{
  display:block; 
  height:10%; 
  margin-left: 40px; 
  font-size:200%; 
  border-radius: 10px; 
  background: linear-gradient(to right, #f46b45, #eea849 );  
}

#bar{
  
  position: absolute;
  top: 10%;
  margin-top:35%;
  margin-left: -45%;
  left: calc(50% - 2.5vmin);
  border-radius: 5vmin/4vmin;
  width: 40vmin;
  height: 5vmin;
  background: 
    linear-gradient(to right, rgba(165, 42, 42, 0.911),rgba(165, 42, 42, 0.651) 80%);
}

footer {
    display: flex;
    overflow: hidden;
    /* Hide overflow */
    background-color: black;
    /* Dark background color */
  }
  
  footer a {
    float: left;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
  }
  
  .copyright {
    color: #fff;
    /* to align item to left */
    margin-left: auto;
    padding-right: 15px;
  }
  
  .flex-align-left {
    margin-left: auto;
  }
  
  @media screen and (max-width: 700px) {
    footer {
      flex-direction: column;
      padding: 10px 0px;
    }
  
    .flex-align-left {
      margin-left: 0;
    }
  }


  /* Owl Slider */

  
  .testimonial {
    padding: 80px 0;
  }
  .sec-heading {
    margin-bottom: 60px;
  }
  .sec-heading h6 {
    font-family: allura;
    font-weight: 900;
    font-size: 80px;
  }
  .single-box {
    border: 3px solid #e6f0fa;
    padding: 50px 30px 40px;
    border-radius: 2px;
    background: #fff;
    height: 300px;
  }
  .img-area {
    margin: 45px 0 20px;
  }
  .single-box img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto
  }
  .single-box h4 {
    font-weight: 600;
    margin: 0;
    font-family: 'Allura', cursive;
    font-size: 35px;
  }
  .single-box {
    overflow: hidden
  }
  .single-box .img-area {
    width: 30%;
    float: left;
    margin: 0
  }
  .single-box .content {
    width: 70%;
    float: left;
    padding-left: 10px
  }
  .single-box p {
    margin: 10px 0 25px;
    line-height: 2.3;
  }
  .testi-carousel-three .single-box {
    border: 0;
    padding: 0 50px;
  }
  .testi-carousel .owl-dots, .clients-carousel .owl-dots, .testi-carousel-three .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
  }
  .testi-carousel .owl-dot, .clients-carousel .owl-dot, .testi-carousel-three .owl-dot {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
  }
  .testi-carousel .owl-dot.active, .clients-carousel .owl-dot.active, .testi-carousel-three .owl-dot.active {
    background-color: blueviolet;
  }
  @media only screen and (min-width: 360px) and (max-width: 479px) {
    .testimonial {
      padding: 70px 0 130px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 359px) {
    .testimonial {
      padding: 70px 0 130px;
    }
    .single-box {
      padding: 50px 0 40px;
    }
    .single-box .img-area {
      width: 100%;
      float: none;
    }
    .single-box .content {
      width: 100%;
      float: none;
    }
  }

  .bu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .bu h2 span {
    padding: 10px 55px;
    
    border-radius: 20px;
    color: #fff;
    background: #120f5e;
    /* fallback for old browsers */
    background: linear-gradient(to right, #3790f5, #121dbb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }