
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caching Analysts-Upload</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/images/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/logo/favicon-16x16.png">
<!-- <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="stylesheet" href="/static/css/profilenav.css">
  <link rel="stylesheet" href="/static/css/style_upload.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <!-- <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav(); check();">&times;</a>
    <a href="#">Profile</a>
  </div>

  <div id="start" class="topnav" >
   <div style="font-size:30px;cursor:pointer;color:white;position:absolute;top:10px;left:15px;width: 100%;">&#9776; </div>
  </div> -->
   
<div class="top">
  <div class="wrapper">
    <header>File Uploader</header>
    <div class="inputs">
      <input class="file-input" type="file" id="file_input" accept="application/pdf" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <p id="upload_fileName">Browse File to Upload</p>
  </div>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>

    <!-- <button onclick="location.href = 'index.html';" id="myButton" class="float-left submit-button" >Home</button> -->
    <div class="sub">
      <button id='btn'>Upload</button>
    </div>
  </div>
</div>

  <script src="../static/js/script_upload.js"></script>

</body>
</html>